<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="mystyle.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</head>
	<body>
		<div ng-app="dashboardApp" ng-controller="dashboardController">
			<h1>OCI E2E Test Framework</h1>
			<!-- DEBUG: SERVICE LIST SECTION -->
			<div class="testsuite_section" class="testsuite_table">
				<h2>Account Level Operations</h2>
				<table>
					<tr class="testsuite_table">
						<th ng-repeat="operation in operations">{{ operation.name }}</th>
					</tr>
					<tr class="testsuite_table">
						<td ng-repeat="operation in operations" style="text-align:center">
							<a href="e2eops.html">Launch</a>
						</td>
					</tr>
				</table>
			</div>

			<!-- DEBUG: SERVICE LIST SECTION -->
			<div class="testsuite_section" ng-repeat="service in services" class="testsuite_table">
				<h2><a href="service.html">{{ service.name }}</a></h2>
				<table>
					<tr class="testsuite_table">
						<th>Resource Name</th>
						<th>Test Suite</th>
						<th>Last Result</th>
						<th>Run</th>
						<!-- <th>Run</th>
						<th>Remove</th> -->
					</tr>
					<tr class="testsuite_table dashboard_table">
						<th colspan="6">Instance Creation</th>
					</tr>
					<tr ng-repeat="testsuite in service.testsuites | filter : isCreationTC" class="testsuite_table">
						<td>{{ testsuite.resource_name }}</td>
						<td>{{ testsuite.name }}</td>
						<td>{{ testsuite.last_result }}</td>
						<td><a href="testsuite.html">Run</a></td>
						<!--<td><a href="testsuite.html">Run</a></td>
						<td>
							<button ng-click="removeTestsuite(service, testsuite)">Remove</button>
						</td> -->
					</tr>
					<tr class="testsuite_table dashboard_table">
						<th colspan="6">Instance Deletion</th>
					</tr>
					<tr ng-repeat="testsuite in service.testsuites | filter : isDeletionTC" class="testsuite_table">
						<td>{{ testsuite.resource_name }}</td>
						<td>{{ testsuite.name }}</td>
						<td>{{ testsuite.last_result }}</td>
						<td><a href="testsuite.html">Run</a></td>
						<!--<td><a href="testsuite.html">Run</a></td>
						<td>
							<button ng-click="removeTestsuite(service, testsuite)">Remove</button>
						</td> -->
					</tr>
					<tr class="testsuite_table dashboard_table">
						<th colspan="6">Account Suspended</th>
					</tr>
					<tr ng-repeat="testsuite in service.testsuites | filter:isSuspendTC" class="testsuite_table">
						<td>{{ testsuite.resource_name }}</td>
						<td>{{ testsuite.name }}</td>
						<td>{{ testsuite.last_result }}</td>
						<td><a href="testsuite.html">Run</a></td>
						<!--<td><a href="testsuite.html">Run</a></td>
						<td>
							<button ng-click="removeTestsuite(service, testsuite)">Remove</button>
						</td> -->
					</tr>
					<!--  Remove this for now
					<tr class="testsuite_table">
						<td><input type="text" ng-model="service.new_testsuite.name"></td>
						<td><button ng-click="addTestsuite(service)">Add</button></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					-->
				</table>
			</div>
		</div>

		<!-- DEBUG: JAVASCRIPT CODE -->
		<script type="text/javascript" src="dashboard.js"></script>
	</body>
</html>
